################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


# ignore an entire directory
/Calculator/Calculator/bin/
/Calculator/Calculator/obj/