################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Calculator/Calculator/bin/Debug/Calculator.exe
/Calculator/Calculator/bin/
/Calculator/Calculator/obj/